<ion-view view-title="">
  <ion-content class = "landing" style =" text-align : center; margin-right: auto; margin-left : auto; ">
  <div class="buffer" style="height: 40px"></div>
  <div class="imgicon" style="width:100%; text-align : center; margin-right: auto; margin-left : auto;">
    <img src="img/icon_square.png" width="100%" style="max-width:400px;">
  </div>
  
    <a class="button button-outline icon-left ion-ios-email-outline  button-positive" style = "border-color:#ffffff; border:solid 2px; color:#ffffff " ng-click= "emailLogin()">Login with Email</a>
  </ion-content>
</ion-view>
