<ion-view view-title="Message Rooms">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="room in AllRooms" type="item-text-wrap" ng-click="goMessageRoom(room.roomId)">
        <img data-ng-src={{friendImages[room.friendId]}}>
        <h2>{{room.friendName}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
